$primary-color: #ff5a60;
$secondary-color: #0477c0;
$border-color: #e1e1e1;

$black: #3e3e3e;
$green: #48b83b;
$white: #ffffff;
$gray: #fefefe;

$header-height: 75px;
$header-border: solid 1px $border-color;

$body-bg: #f8f8f8;

$side-nav-bg: $white;
$side-nav-label-color: #3e3e3e; 
$side-nav-label-opacity: .66; 
$side-nav-width: 126px;

$panel-header-font-size: 24px;
$panel-header-margin: 32px 0 14px;
$panel-border-radius: 8px;
$panel-border: solid 1px $border-color;

$table-header-color: #9c9c9c;
$table-alternate-color: #f1f1f1;
$table-row-border-color: rgba(151, 151, 151, 0.66);
