.main {
  .inner-content {
    margin: auto;
    max-width: 1200px;
    position: absolute;
    top: $header-height;
    padding: 45px 70px 100px 51px;
    overflow: scroll;
    right: 0;
    bottom: 0;
    left: $side-nav-width;

  }
}
