.my-rents-panel {
	> div {
		min-width: 406px;
	}

	section {
		padding: 25px 25px 50px 23px;
	}

	.table {
		width: 100%;

		:global(.concept) {
			width: 55%;

			div {
				display: flex;
				align-items: center;

				img {
					padding-right: 18.5px;
				}

				div {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					margin: 6px 0;
				}
			}
		}

		:global(.yearly) {
			width: 20%;
			text-align: right;	
		}

		:global(.monthly) {
			width: 25%;
			text-align: right;
		}

		tbody {
			tr {
				border-bottom: solid 1px $border-color;
				min-height: 38px;
				max-height: none;

				&:nth-child(even) {
					background-color: $white;
				}

				&:last-child {
					border-bottom: none;
					font-weight: bold;
					background-color: rgba(254, 171, 174, 0.2);

					td {
						padding-left: 10px;

						&:nth-child(2) {
							padding-right: 0px;
						}
					}

					div {
						img {
							padding-right: 18.5px;
						}
					}
				}
			}
		}
	}

	.chart {
		display: inline-block;
		max-width: 250px;
		width: 55%;
	}

	.chart-info {
		width: 45%;
		display: block;
		max-width: 150px;
		padding-top: 45px;
		font-size: 14px;
		margin-top: 42px;

		.percentage {
			width: 115px;
		}

		.color {
			width: 17px;
			height: 14px;
			margin-right: 9px;

			&.green {
				background-color: #3ab398;
			}

			&.light-green {
				border: solid 1px #72c1af;
				background-color: #d9fff7;
				box-sizing: border-box;
			}
		}
	}
}
