.bricks-panel {
  section {
    max-height: 214px;
    display: flex;
  }

  .info-container {
    height: 100%;
    width: 20%;
    background-color: $gray;
    color: $black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: $header-border;

    .main-info {
      position: relative;

      img {
        margin-top: 29px;
        margin-bottom: 9px;
      }
      
      span {
        margin-bottom: 9px;
        font-size: 28px;
        font-weight: bold;
      }

      &:after {
        position: absolute;
        content: '';
        height: 1px;
        background-color: $border-color;
        bottom: 0;
        left: 15px;
        right: 9px;
      }
    }

    .secondary-info {
      min-height: 95px;

      .info {
        color: $black;

        :first-child {
          max-width: 91px;
          font-size: 14px;
          text-align: center;
        }

        :last-child {
          font-size: 25px;
        }
      }

      .border-icon {
        position: relative;
        
        &::before {
          display: block;
          content: '';
          position: absolute;
          top: -30px;
          bottom: 30px;
          width: 1px;
          background: $border-color;
          left: 45%;
          margin: 0;
        }

        &::after {
          display: block;
          content: '';
          position: absolute;
          top: 30px;
          bottom: -25px;
          width: 1px;
          background: $border-color;
          left: 45%;
          margin: 0;
        }
      }
    }
  }

  .chart-container {
    display: flex;
    height: 100%;
    width: 80%;

    .chart {
      display: inline;
      max-width: 250px;
      margin-left: 39px;
      margin-right: 41px;

      &.last {
        margin-left: 20px;
        margin-right: 0px;
      }
    }

    .chart-info {
      max-width: 250px;
      font-size: 14px;
      margin-top: 42px;

      .title {
        font-size: 20px;
        color: $black;
        margin-bottom: 13px;
      }

      .color {
        width: 17px;
        height: 14px;
        margin-right: 9px;

        &.green {
          background-color: #3ab398;
        }

        &.light-green {
          border: solid 1px #72c1af;
          background-color: #d9fff7;
          box-sizing: border-box;
          margin-right: 8px;
        }

        &.blue {
          background-color: #306aae;
        }

        &.light-blue {
          background-color: #4a90e2;
        }

        &.lighter-blue {
          background-color: #8bb6ea;
        }

        &.lightest-blue {
          box-sizing: border-box;
          border: solid 1px #306aae;
          background-color: #daebff;
          margin-right: 5px;
        }
      }

      .type {
        min-width: 95px;
      }

      .gains {
        width: 60px;
      }

      .percentage {
        font-weight: bold;
        width: 30px;
      }

      .amount {
        width: 10px;
      }

      .total {
        width: 200px;
        display: inline-block;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $border-color;
        text-align: right;
      }
    }
  }
}