.my-account {
  height: 100%;
  width: 100%;
  position: relative;

  .panels {
    width: 100%;
    display: flex;

    .my-rents {
      width: 30%;
      margin-right: 6.5%;
    }

    .transactions {
      width: 63.5%;
    }
  }
}
